

<hr>
<table border="3">
    <tr>
        <td>id</td>
        <td>nom</td>
        <td>adresse</td>
        <td>action</td>
    </tr>

    {% for i in cinema  %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.nom | upper}}</td>
        <td>{{i.adresse}}</td>
        <td><a href="{{path('app_deletecinema',{'id':i.id})}}">delete</a></td>
        <td><a href="{{path('app_Addfilm')}}">Affecter</a></td>
 

     
    </tr>
    {% endfor %}
</table>
