
{{form_start(f)}}
{{form_label(f.min,'min')}}
{{form_widget(f.min)}}
{{form_label(f.max,'max')}}
{{form_widget(f.max)}}
{{form_end(f)}}
<br>
<hr>
<table border="3">
    <tr>
        <td>id</td>
        <td>username</td>
        <td>email</td>
        <td>nb_books</td>
        <td>action</td>
    </tr>

    {% for i in authors  %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.username | upper}}</td>
        <td>{{i.email}}</td>
        <td>{{i.nbbooks}}</td>
        <td><a href="{{path('app_detailsauthornew',{'id':i.id})}}">Details</a></td>
        <td><a href="{{path('app_updateauthornew',{'id':i.id})}}">update</a></td>
        <td><a href="{{path('app_deleteauthornew',{'id':i.id})}}">delete</a></td>
        <td><a href="{{path('app_Addformauthornew')}}">delete</a></td>

     
    </tr>
    {% endfor %}
</table>
